@model Teacher_Evaluation_System__Golden_Success_College_.Models.Evaluation

@{
    ViewData["Title"] = "Details";
    Layout = "_Layoutadmin";
}

<h1>Details</h1>

<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnonymous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnonymous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEvaluated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEvaluated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EvaluationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
