@model Teacher_Evaluation_System__Golden_Success_College_.Models.Score

@{
    ViewData["Title"] = "Details";
    Layout = "_Layoutadmin";
}

<h1>Details</h1>

<div>
    <h4>Score</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaluation.EvaluationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ScoreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
